<div class="container">
    <form #form="ngForm" (ngSubmit)="addTodo()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input for="title" type="text" class="form-control" id="title" name="title" [(ngModel)]="newTodo.title" required title="Please enter your name">
    
        <label for="detail" class="form-label">Detail</label>
        <input for="detail" type="text"  class="form-control" id="detail" name="detail" [(ngModel)]="newTodo.detail" >
        
        <label for="detail" class="form-label">Priority</label>
    <select for="priority" class="form-select" id="priority" name="priority" [(ngModel)]="newTodo.priority">
      <option selected>Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
  </div>
    <button  type="submit"  class="btn btn-primary" >Submit</button>
  </form>
</div>
